rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false
    }
    match /tweets/{tweetId} {
      allow read;
      allow create: if request.auth != null &&
                       request.resource.data.name == request.auth.token.name &&
                       (
                        request.resource.data.text is string &&
                        request.resource.data.text.size() <= 140
                        )
    }
  }
}